<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
        <title>ACP Controle Times</title>

        <!-- 'viewport' is used by bootstrap to respond to device size -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Javascript:  JQuery from a content distribution network (CDN) -->
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
        </script>

        <!-- Bootstrap includes javascript and css  (must follow jquery) -->
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
        </script>

        <!-- <script type="text/javascript"  -->
            <!--    src="/static/js/calc.js"> -->
        <!-- </script> -->
</head>

<!-- Our own style sheet -->
<link rel="stylesheet" href="/static/css/calc.css" />

<body>
    <!-- bootstrap requires a 'container' div around content -->
    <div class="container">

        <h1>ACP Brevet Closing times</h1>

        <!--
        -- If there are any warnings or other messages from a prior
        -- request to the server, 
        -- they appear above the rest of the content, just until the next 
        -- action.  (This is only on request/response transactions that
        -- result in regenerating the page, not on every xmlhttp request.) 
        -->

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Design on bootstrap grid --
        -->
        <form role="form">

            <spanclass="help-block">Start data and time</span>
            <div class="row">
                <div class="col-xs-3">
                    <input type="text" class="form-control" 
                    name="start_date" value="start data e.g: 2016-10-24"/>
                </div>
                <div class="col-xs-3">
                    <input type="text" class="form-control" 
                    name="start_time" value="start time e.g: 08:00"/>
                </div>
            </div>


            <label>control point in kilometers</label>
            <div class="row">
                <div class="col-xs-2">
                    <select id = "control_point" class="form-control">
                        <option>200</option>
                        <option>300</option>
                        <option>400</option>
                        <option>600</option>
                        <option>1000</option>
                    </select>
                </div>
            </div>

            <div id ="input_row"> </div>
            <script>
                $(document).ready(function(){
                    for (var i = 0; i < 25; i++) {
                        if (i == 0){
                            var context = $(['<div class="row"> \
                        <div class="col-md-2">\
                            <input type="text" class="distance_row form-control"\
                            name="kilometers" value="0" disabled/>\
                        </div>\
                        <div class="col-md-4">\
                            <input type="text" class="location_name form-control"\
                            name="location" value="location" />\
                        </div>\
                        <div class="col-md-4">\
                            <span class="times form-control">(times)</span>\
                        </div>\
                    </div>'].join());
                        }else{
                            var context = $(['<div class="row"> \
                        <div class="col-md-2">\
                            <input type="text" class="distance_row form-control"\
                            name="kilometers" value="Distance in kilometerss"/>\
                        </div>\
                        <div class="col-md-4">\
                            <input type="text" class="location_name form-control"\
                            name="location" value="location" />\
                        </div>\
                        <div class="col-md-4">\
                            <span class="times form-control">(times)</span>\
                        </div>\
                    </div>'].join());
                        }
                        $("#input_row").append(context)
                    }
                })
            </script>

            <div class="col-md-6 text-center">

                <input type="button" style = "width:150px;height:50" id = "showlist" value = "showlist"/>
            </div>

            <script type="text/javascript">

                $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

$(document).ready(function(){

    $("#showlist").click(
        function(){
            $.getJSON($SCRIPT_ROOT + '/_checkcontrol',
                {val:0},
                function(data){
                    res = data.result
                    if (!res.is_valid){
                        alert(res.msg);
                    } else{
                        window.location.href = '/showlist'
                    }
                })
        }
    )
    $('input[name="kilometers"]').change(
        function(){
            var e_kilometers = $(this).val();
            var target = $(this).parents(".row");
            var e_index = $(this).parents(".row").index();

            $.getJSON($SCRIPT_ROOT + '/_calc_times',
                { kilometers: e_kilometers , index: e_index},
                function(data) {
                    res = data.result
                    if (!res.is_valid) {
                        if(e_kilometers != 0) 
                            alert(res.msg);
                        target.find(".distance_row").val("Distance in kilometers")
                        target.find(".times").text("(times)")
                    } else {
                        var times = "open " + res.open_time + " close " + res.close_time;
                        target.find(".times").text(times)
                    }
                });
        });

    $('input[name="location"]').change(
        function(){
            var e_location = $(this).val();
            var target = $(this).parents(".row");
            var e_index = $(this).parents(".row").index();

            $.getJSON($SCRIPT_ROOT + '/_location',
                { val: e_location, index: e_index},
                function(data) {
                    res = data.result
                    if (!res.is_valid){
                        if(res.msg)
                            alert(res.msg);
                        target.find(".location_name").val("location")
                    }
                });
        });
    $('input[name="start_date"]').change(
        function(){
            var date = $(this).val();
            $.getJSON($SCRIPT_ROOT + '/_startdate',
                { time: date},
                function(data) {
                    res= data.result
                    if (!res.is_valid) {
                        alert("Date "+ date + 
                            " is invalid! Plesae input correctly");
                        $('input[name="start_date"]').val("");
                    }
                });
        })
    $('input[name="start_time"]').change(
        function(){
            var date = $(this).val();
            $.getJSON($SCRIPT_ROOT + '/_starttime',
                { time: date},
                function(data) {
                    res= data.result
                    if (res.is_valid) {
                        var times = "open " + res.open_time + " close " + res.close_time;
                        $('.times').eq(0).text(times)
                    } else {
                        $('input[name="start_time"]').val("");
                        if (res.msg)
                            alert(res.msg);
                        else
                            alert("Time "+ date + " is invalid! Plesae input correctly");
                    }
                });
        })
    $("#control_point").change(
        function() {
            var point = $(this).val();
            $.getJSON($SCRIPT_ROOT + '/_controlpoint',
                { val: point},
                function(data) {
                    res= data.result
                    if (!res.is_valid) {
                        alert("control point "+ point + " is invalid! Plesae input correctly");
                    }
                });
        })
});   // end of what we do on document ready

</script>

</div>
</body> </html>
